.user-section {
    margin: 60px 20px;
}

.back-arrow {
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  color: #4d4d4d;
}

.back-arrow img {
  width: 30px;
  margin-right: 10px;
}

.user-profile {
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr 4fr;
  margin: 20px 0;
}

.user-about {
  background-color: #4ea2a4;
  padding: 20px 30px;
}

.repos-list {
  margin: 20px 0;
}

.repos-list > div {
  background-color: #4ea2a4;
  margin-bottom: 20px;
  padding: 8px;
}

